*.pdf

.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

*.xcuserdata
*.xcscheme

xschememanagement.plist

CoooriDictionary.xcodeproj/project.pbxproj
CoooriDictionary.xcodeproj/project.xcworkspace/xcuserdata/Ken.xcuserdatad/UserInterfaceState.xcuserstate
CoooriDictionary.xcodeproj/xcuserdata/Ken.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
CoooriDictionary.xcodeproj/xcuserdata/Ken.xcuserdatad/xcschemes/CoooriDictionary.xcscheme
CoooriDictionary.xcodeproj/xcuserdata/Ken.xcuserdatad/xcschemes/xcschememanagement.plist
C++/.DS_Store
Java/.DS_Store
Java/src/.DS_Store
Java/src/com/.DS_Store
Java/src/com/SpecialK/.DS_Store
Java/src/com/SpecialK/SpecialKEval/.DS_Store
Objective-C/.DS_Store